<!-- list-view.component.html -->

<div class="card-container">
    <button mat-icon-button color="primary" (click)="addCompany()">
        <mat-icon>add_circle</mat-icon>
    </button>

    <!-- Displaying data in a table -->
    <table mat-table [dataSource]="dataSource">
      <!-- Define your columns here -->
      <ng-container matColumnDef="Code">
        <th mat-header-cell *matHeaderCellDef>{{'CODE' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
      </ng-container>

      <ng-container matColumnDef="EnglishName">
        <th mat-header-cell *matHeaderCellDef> {{'ENGLISHNAME' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.englishName }}</td>
      </ng-container>

      <ng-container matColumnDef="ArabicName">
        <th mat-header-cell *matHeaderCellDef>{{'ARABICNAME' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.arabicName }}</td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef>{{'ISACTIVE' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.isActive? ('YES' | translate): ('NO' | translate) }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Controls">
        <th mat-header-cell *matHeaderCellDef>{{ 'CONTROLS' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <!-- Update Button -->
          <button mat-icon-button color="primary" (click)="updateCompany(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
      
          <!-- Delete Button -->
          <button mat-icon-button color="warn" (click)="deleteCompany(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="paginationList" [length]="paginationResponseModel.totalCount"
    [pageIndex]="paginationResponseModel.currentPage - 1" [pageSize]="paginationResponseModel.pageSize"
    
    showFirstLastButtons (page)="onPageChanged($event)"></mat-paginator>
</div>
  