<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">{{'APPLICATION_PAGE_PREFIX' | translate}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="model">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="full-width">
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="pageName"
                            formControlName="pageName"
                            [placeholder]="'PAGE_NAME' | translate"
                            value=""
                            readonly>
                        </mat-form-field>
                       </div>
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="prefix"
                            formControlName="prefix"
                            [placeholder]="'PREFIX' | translate"
                            value=""
                            readonly>
                        </mat-form-field>
                    </div>
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="length"
                            formControlName="length"
                            [placeholder]="'LENGTH' | translate"
                            value=""
                            readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button 
            mat-raised-button 
            color="warn" 
            [disabled]="model.invalid" 
            (click)="delete()">{{'DELETE' | translate}}</button>
        </form>
    </mat-card-content>
</mat-card>

