<div class="container my-5">
    <h2 class="text-center mb-5">Change Password</h2>
    <form>
        <div class="text-center mb-5">
            <mat-form-field appearance="outline" class="w-50">
                <mat-label>Select a user(required)</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                    <option label="-- Please choose an item --"></option>
                    <option value="admin">Admin</option>
                    <option value="mahmoud">Mahmoud</option>
                    <option value="fathy">Fathy</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="text-center mb-5">
            <mat-form-field appearance="outline" class="w-50">
                <mat-label>Reason to change(required)</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                    <option label="-- Please choose an item --"></option>
                    <option value="admin">Admin</option>
                    <option value="mahmoud">Mahmoud</option>
                    <option value="fathy">Fathy</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="example-container">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Old Password(required)</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="example-container">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>New Password(required)</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="example-container">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Confirm Password(required)</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!---------------------- Save Button --------------->
        <a class="btn btn-success w-50 mx-auto d-block" routerLink="/">Save</a>
    </form>
</div>




