<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-5">{{'CHANGE_PASSWORD' | translate}}</h2>    
            <form [formGroup]="changePasswordForm" (ngSubmit)="saveForm(changePasswordForm)">
                <div class="text-center mb-5">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'SELECT_USER' | translate}}</mat-label>
                        <select matNativeControl required formControlName="userId">
                            <option [label]="'CHOOSE_ITEM' | translate"></option>
                            <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Admin</option>
                        </select>
                        <mat-error *ngIf="changePasswordForm.get('userId')?.hasError('required') && changePasswordForm.get('userId').touched">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="text-center mb-5">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'CHANGE_REASON' | translate}}</mat-label>
                        <select matNativeControl required formControlName="reasonId">
                            <option [label]="'CHOOSE_ITEM' | translate"></option>
                            <option *ngFor="let reason of reasons" [value]="reason.id">{{currentDir=='rtl'?reason.reasonAr:reason.reasonEn}}</option>
                        </select>
                        <mat-error *ngIf="changePasswordForm.get('reasonId')?.hasError('required') && changePasswordForm.get('reasonId').touched">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'OLD_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'NEW_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
                                Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric and at least 8 characters.
                              </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('passwordMismatch')">
                                Passwords do not match.
                              </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        
                <!---------------------- Save Button --------------->
                <button class="btn btn-success w-50 mx-auto d-block" type="submit">{{'SAVE' | translate}}</button>
            </form>
        </div>
    </div>  
</div>




