<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-5">{{'CHANGE_PASSWORD' | translate}}</h2>    
            <form>
                <div class="text-center mb-5">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'SELECT_USER' | translate}}</mat-label>
                        <select matNativeControl required [formControl]="selectUserFormControl">
                            <option [label]="'CHOOSE_ITEM' | translate"></option>
                            <option value="admin">Admin</option>
                            <option value="mahmoud">Mahmoud</option>
                            <option value="fathy">Fathy</option>
                        </select>
                        <mat-error *ngIf="selectUserFormControl.hasError('required') && selectUserFormControl.touched">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="text-center mb-5">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'CHANGE_REASON' | translate}}</mat-label>
                        <select matNativeControl required [formControl]="selectReasonFormControl">
                            <option [label]="'CHOOSE_ITEM' | translate"></option>
                            <option value="admin">Admin</option>
                            <option value="mahmoud">Mahmoud</option>
                            <option value="fathy">Fathy</option>
                        </select>
                        <mat-error *ngIf="selectReasonFormControl.hasError('required') && selectReasonFormControl.touched">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'OLD_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="oldPasswordFormControl">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'NEW_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPasswordFormControl">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="confirmPasswordFormControl">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        
                <!---------------------- Save Button --------------->
                <a class="btn btn-success w-50 mx-auto d-block" routerLink="/">{{'SAVE' | translate}}</a>
            </form>
        </div>
    </div>
    
</div>




