<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">{{'PAYMENT_MODES' | translate}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="model">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="full-width">
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="paymentModeName"
                            formControlName="paymentModeName"
                            [placeholder]="'PAYMENT_MODE_NAME' | translate"
                            value="">
                        </mat-form-field>
                        <small 
                        *ngIf="model.controls['paymentModeName'].hasError('required') && model.controls['paymentModeName'].touched" 
                        class="form-error-msg"> {{'PAYMENT_MODE_NAME_REQUIRED' | translate}} </small>
                    </div>
                    <div class="pb-16">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>{{ 'PAYMENT_MODE_TYPE' | translate }}</mat-label>
                            <mat-select formControlName="paymentModeTypeId">
                              <!-- Loop through the countries array to dynamically populate options -->
                              <mat-option *ngFor="let paymentModeType of paymentModeTypes" [value]="paymentModeType.id">
                                {{ paymentModeType.paymentName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <small
                            *ngIf="model.get('paymentModeTypeId').hasError('required') && model.controls['paymentModeTypeId'].touched"
                            class="form-error-msg"
                          >
                            {{'PAYMENT_MODE_TYPE_IS_REQUIRED' | translate}}
                          </small>
                    </div>
                    <div class="pb-16">
                        <mat-checkbox name="isActive" formControlName="isActive"></mat-checkbox>
                        <label for="isActive">{{ 'IS_ACTIVE' | translate }}</label>
                    </div>

                </div>
            </div>
            <button 
            mat-raised-button 
            color="primary" 
            [disabled]="model.invalid" 
            (click)="update()">{{'UPDATE' | translate}}</button>
        </form>
    </mat-card-content>
</mat-card>

