<!-- list-view.component.html -->

<div class="card-container">
  <button mat-icon-button color="primary" (click)="addNew()">
      <mat-icon>add_circle</mat-icon>
  </button>

  <!-- Displaying data in a table -->
  <table mat-table [dataSource]="dataSource">
    <!-- Define your columns here -->
    <ng-container matColumnDef="unitCode">
      <th mat-header-cell *matHeaderCellDef>{{'UNIT_CODE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.unitCode }}</td>
    </ng-container>
    <ng-container matColumnDef="unitNameAr">
      <th mat-header-cell *matHeaderCellDef>{{'UNIT_NAME_AR' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.unitNameAr }}</td>
    </ng-container>
    
    <ng-container matColumnDef="unitNameEn">
      <th mat-header-cell *matHeaderCellDef> {{'UNIT_NAME_EN' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.unitNameEn }}</td>
    </ng-container>
    <ng-container matColumnDef="unitDescription">
      <th mat-header-cell *matHeaderCellDef> {{'UNIT_DESCRIPTION' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.unitDescription }}</td>
    </ng-container>
    <ng-container matColumnDef="Controls">
      <th mat-header-cell *matHeaderCellDef>{{'CONTROLS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Update Button -->
        <button mat-icon-button color="primary" (click)="update(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
    
        <!-- Delete Button -->
        <button mat-icon-button color="warn" (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="paginationList" [length]="paginationResponseModel.totalCount"
  [pageIndex]="paginationResponseModel.currentPage - 1" [pageSize]="paginationResponseModel.pageSize"
  
  showFirstLastButtons (page)="onPageChanged($event)"></mat-paginator>
</div>