<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Roles</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="model">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="full-width">
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="name"
                            formControlName="name"
                            [placeholder]="'ROLE' | translate"
                            value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="descriptionAr"
                            formControlName="descriptionAr"
                            [placeholder]="'DESCRIPTION_AR' | translate"
                            value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="descriptionEn"
                            formControlName="descriptionEn"
                            [placeholder]="'DESCRIPTION_EN' | translate"
                            value="">
                        </mat-form-field>
                    </div>

                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="fulDescription"
                            formControlName="fulDescription"
                            [placeholder]="'DESCRIPTION' | translate"
                            value="">
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <button 
            mat-raised-button 
            color="primary" 
            [disabled]="model.invalid" 
            (click)="update()">Update</button>
        </form>
    </mat-card-content>
</mat-card>


