<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">{{'ITEM_CATEGORIES' | translate}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="model">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="full-width">
                    <div class="pb-16">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="name"
                            formControlName="name"
                            [placeholder]="'NAME' | translate"
                            readonly
                            value="">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button 
            mat-raised-button 
            color="warn" 
            [disabled]="model.invalid" 
            (click)="delete()">{{'DELETE' | translate}}</button>
        </form>
    </mat-card-content>
</mat-card>

